
.friend_list {
    width: 300px;
background-color: rgb(238, 195, 131);
display: inline-block;
padding: 50px;
margin-top: 50px;
margin-bottom: 50px;
}

.item {
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: row;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    border: 1px solir black;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 50px;
}

.status {
    width: 4px;
    height: 4px;
    margin-left: 20px;
    margin-right: 10px;
    background-color: red;
    border-radius: 50%;
}

.avatar {
    margin: 6px;
}

.name {
    margin-left: 10px;
}