ul, li {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style: none;
}



.statistics {
    width: 250px;
    background-color: rgb(204, 241, 229);
}

.title {
    text-align: center;
}

.stat_list {
    display: flex;
    flex-direction: row;

}

.item {
    box-sizing: border-box;
    width: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    padding: 8px;
}