.statistics {
    width: 300px;
    padding: 50px;
    background-color: rgb(204, 241, 229);
}

.title {
    text-align: center;
}

.stat_list {
    display: flex;
    flex-direction: row;

}

.item {
    box-sizing: border-box;
    width: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

span {
    padding: 8px;
}